<!DOCTYPE html>
<html>

<head>
    <title>Twitter Sentiment analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        var base_url = 'http://' + document.domain + ':' + location.port;
    </script>
    <style>
        footer {
            bottom: 0;
            padding: 10px;
            position: absolute;
            height: 4rem;
        }

        .page-container {
            position: relative;
            min-height: 100vh;
        }

        .content-wrap {
            padding-bottom: 4rem;
        }
    </style>
</head>

<body>
    <div class="page-container">
        <div class="content-wrap">
            <header>
                <nav>
                    <div class="nav-wrapper orange darken-3">
                        <a href="" class="brand-logo">Twitter Analysis</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#" onclick="location.href=base_url+'/home'">Home</a></li>
                            <li><a href="#" onclick="location.href=base_url+'/about'">About</a></li>
                            {% if login %}
                            <li><a href="#" onclick="location.href=base_url+'/login'">Login</a></li>
                            {% else %}
                            <li><a href="#" onclick="location.href=base_url+'/logout'">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>&copy;2019 BVRIT</p>
        </footer>
    </div>
</body>

</html>