{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var base_url = 'http://' + document.domain + ':' + location.port;
    var socket = io.connect(base_url);
    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 15; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }

    hash = makeid();
    socket.on('connect', function () {
        socket.emit('connected', { message: 'I\'m connected!', hash: hash });
    });

</script>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="text" class="validate" placeholder="Enter your Search query here"
                                autocomplete="off" />
                            <label for="text">Query</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="waves-effect waves-light btn orange darken-3"
                                onclick="sendJson()">Send</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea disabled id="message" style="height:10rem"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const sendJson = () => {
        var textel = document.getElementById("text");
        var text = textel.value;
        textel.value = "";
        socket.emit('json', { message: text, hash: hash });
    }

    text = document.getElementById('text');
    text.addEventListener('keydown', (e) => {
        var textel = document.getElementById("text");
        if (e.keyCode == 13 && textel.value != "") {
            sendJson();
        }
    });

    socket.on('json', (res) => {
        ta = document.getElementById("message");
        ta.value = res.message + "\n" + ta.value;
    });

    socket.on('result', (res) => {
        id = res.id;
        window.open(base_url + '/res/' + id);
    });

</script>
{% endblock %}